.root {
    display: flex !important;
    padding: 10px !important;
}

.appBar {
    z-index: 1201 !important;
}

.content {
    flex-grow: 1 !important;
    margin-left: 25%;
    transition: ease-in 75ms;
    margin-top: 64px;
    z-index: 1000 !important;
}

#drawer {
    z-index: 999 !important;
}

#drawer > div {
    flex-shrink: 0 !important;
    padding: 0 !important;
    width: 25%;
    margin-top: 64px !important;
    height: -moz-calc(100% - 59px);
    height: -webkit-calc(100% - 59px);
    height: -o-calc(100% - 59px);
    height: calc(100% - 59px);
}

::-webkit-scrollbar {
    display: none;
}

.content > div {
    overflow: auto;
    height: calc(100vh - 84px);
    margin-left: 3px;
}

.contentShift {
    flex-grow: 1 !important;
    margin-left: 0;
    transition: ease-out 200ms;
    margin-top: 64px;
}

.appTitle {
    margin-top: -1px;
    max-width: 80%;
}

@media (max-width: 600px) {
    .content > div {
        width: 102.5%;
        height: 93vh;
        margin-left: -10px;
    }

    .content {
        width: 102.5%;
        margin-top: 48px;
        z-index: 1000 !important;
        margin-bottom: -10px;
    }

    .contentShift {
        margin-top: 48px !important;
    }

    #drawer {
        z-index: 1200 !important;
    }

    #drawer > div {
        width: 100% !important;
        margin-top: 56px !important;
        height: -moz-calc(100% - 51px);
        height: -webkit-calc(100% - 51px);
        height: -o-calc(100% - 51px);
        height: calc(100% - 51px);
    }

    .details {
        flex-direction: column-reverse !important;
        justify-items: center;
        align-items: center;
    }

    .media {
        margin-bottom: 10px !important;
        height: 200px !important;
        width: 99% !important;
    }

    .detailsPaper {
        margin-right: -3px !important;
        width: 98.5% !important;
    }

    .appTitle {
        width: 40%;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .content {
        margin-top: 64px;
        z-index: 1000 !important;
    }

    .contentShift {
        margin-top: 64px !important;
    }

    .media {
        height: 400px !important;
        width: 25% !important;
    }

    #drawer {
        z-index: 999 !important;
    }

    #drawer > div {
        width: 25% !important;
        margin-top: 64px !important;
        height: -moz-calc(100% - 59px);
        height: -webkit-calc(100% - 59px);
        height: -o-calc(100% - 59px);
        height: calc(100% - 59px);
    }

    .appTitle {
        max-width: 72%;
    }
}

.grow {
    flex-grow: 1;
}

.switch span {
    font-weight: 500;
    color: white;
}

.gridList {
    flex-wrap: nowrap !important;
    transform: translateZ(0) !important;
    overflow: auto;
}

.titleBar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%) !important;
}

.coverGallery {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
    padding-bottom: 2% !important;
}

.coverGalleryHeader {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0 !important;
}

.tile {
    width: 25% !important;
    height: 140px !important;
}

.tile:hover {
    cursor: pointer;
}

.navArrow {
    margin-bottom: -5px !important;
}

.table {
    align-self: center !important;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2% !important;
}

.media {
    background-size: contain !important;
    background-position: center !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-width: 1px !important;
    border-color: darkgray !important;
    border-style: solid !important;
    margin-left: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.media:hover {
    cursor: pointer;
}

.detailsPaper {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    margin-right: 5px;
    padding: 5px;
    border-radius: 0 !important;
}

.stories {
    width: 100%;
}

.story {
    border-radius: 0 !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.storyTitle {
    justify-content: space-between;
    display: flex;
    flex-grow: 1;
}

.chip {
    height: 29px !important;
    margin-right: 5px !important;
    align-self: center;
}

.heading {
    align-self: center;
}

.chips {
    display: flex !important;
}

div[class^="MuiExpansionPanelSummary-content-"] {
    margin: 4px 0 !important;
}

.loading {
    width: 50px !important;
}

.queryResult {
    padding: 15px;
    display: flex;
}

.queryResultText {
    padding-left: 10px;
    align-self: center;
}

.issueStoryIssue {
    font-size: 0.875rem;
}

.issueStoryIssueItem {
    justify-content: space-between !important;
    padding: 6px !important;
}

.issueStoryIssueButton {
    justify-self: end;
}

.issueStoryIssuePublisher {
    color: rgba(0, 0, 0, 0.54) !important;
}

.issueStoryIssueList {
    width: 100% !important;
}

.itemMenuButton {
    padding: 0 10px 0 10px !important;
}

.itemContainer {
    display: flex !important;
    justify-content: space-between;
}

.speedDialContainer {
    float: right;
}

.speedDial {
    bottom: 15px;
    right: 15px;
    position: fixed;
    align-self: end;
}

#form-delete-dialog-title > h2 {
    display: flex !important;
}

.deleteTitleIcon {
    padding-right: 5px;
    align-self: center;
    padding-bottom: 2px;
}

.field {
    width: 100%;
}

.itemText {
    white-space: normal;
}

.selected > span {
    font-weight:bold;
}

.sticky {
    position: sticky !important;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
}

#list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mobileChip {
    width: 15.5px !important;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding-top: 11px;
    padding-right: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-top: 6px;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger:focus {
    outline: none;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger-box {
    width: 20px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
    top: 2px;
}

.hamburger--slider .hamburger-inner::before {
    top: 7px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
    top: 14px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(-90deg);
}